@charset "UTF-8";

body{
  background: #fffff7;
}
.kadomaru img{
  border-radius: 30px;
  width: 400px;
  height: auto;
}

.shadow img{
  box-shadow: 5px 5px 5px gray;
  width: 400px;
  height: auto;
}
